footer
	.fo_infobox
		.container
			.row
				.col-xs-12
					p.center-block.fo_logo
						img(src='images/footer_logo.svg', alt='')
					.row
						.col-sm-12.col-md-3
							.row
								.col-xs-12.col-sm-4.col-md-12
									h4.fo_title.mb10 【台北辦事處】
									ul.fo_compinfo.mb10
										li 台北市南京東路二段90號20樓
										li 電話：
											a(href="+886266085665") 886-2-66085665
								.col-xs-12.col-sm-4.col-md-12
									h4.fo_title.mb10 【台中辦事處】
									ul.fo_compinfo
										li 台中市文心路三段447號13樓之C
										li 電話：
											a(href="+886422178772") 886-4-22178772
								.col-xs-12.col-sm-4.col-md-12
									h4.fo_title.mb10 【高雄辦事處】
									ul.fo_compinfo
										li 高雄市苓雅區四維四路十號八樓 
										li 電話：
											a(href="+886422178772") 886-7-5352991 #7131

						.col-sm-7.col-md-6
							ul.fo_nav
								li
									.fo_navbox
										h4.fo_title 關於我們
										ul.fo_compinfo
											li
												a(href="user_textedit.html") 關於海克力斯
											li
												a(href="user_textedit.html") 關係企業
											li
												a(href="user_textedit.html") 合作提案
								li
									.fo_navbox
										h4.fo_title 費用說明
										ul.fo_compinfo
											li
												a(href="user_textedit.html") 收費規則
											li
												a(href="user_textedit.html") 加值服務
								li
									.fo_navbox
										h4.fo_title 會員權益
										ul.fo_compinfo
											li
												a(href="nav_footer_service.html") 服務使用條款
											li
												a(href="nav_footer_transervice.html") 託運條款
								li
									.fo_navbox
										h4.fo_title 聯絡我們
										ul.fo_compinfo
											li
												a(href="nav_footer_buyerform.html") 代購賣家進駐申請
											li
												a(href="nav_footer_contact.html") 聯絡我們
											li
												a(href="nav_footer_faq.html") 常見問題
						.col-xs-12.col-sm-5.col-md-3
							#fb-root
							.fb-page(data-href='https://www.facebook.com/HiclicksOfficial/', data-tabs='timeline', data-height='200', data-small-header='false', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true')
								blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/HiclicksOfficial/')
									a(href='https://www.facebook.com/HiclicksOfficial/') 海克力斯HiClicks代運

	.copy_box
		.container
			.row
				.col-xs-12
					p.text-center.hidden-xs
						| 服務時間：週一~週五 上午09:00~下午06:00　｜　週六日及國定假日休息
					p.copyright.text-center.hidden-xs
						| Copyrights &copy; 2017 海克力斯 All Rights Reserved . 網頁設計：
						a.web_author(href='https://yaii.com.tw/', target='_blank', rel='nofollow') 雅藝設計
					p.text-center.hidden-sm.hidden-md.hidden-lg
						|週一~週五 上午09:00~下午06:00
						br
						|週六日及國定假日休息
					p.copyright.text-center.hidden-sm.hidden-md.hidden-lg
						|Copyrights &copy; 2018 海克力斯 All Rights Reserved .
						br 
						|網頁設計：
						a.web_author(href='https://yaii.com.tw/', target='_blank', rel='nofollow') 雅藝設計


#transMath
	a(href="nav_trans_count.html")
#gotop
		
script(type='text/javascript', src='js/vendors.js')
script(type='text/javascript', src='js/style.js')
script.
	(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.10";
	fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));