meta(charset='utf-8')
meta(name='robots', content='index,follow')
link(rev='made', href='mailto:service@yaii.com.tw')
link(rev='made', href='http://yaii.com.tw/')
link(rel='shortcut icon', href='images/favicon.png')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(http-equiv='content-language', content='zh-Hant-TW')
meta(http-equiv='expires', content='-1')
meta(http-equiv='imagetoolbar', content='no')
meta(http-equiv='pragma', content='no-cache')
meta(http-equiv='window-target', content='_top')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='author', content='雅藝視覺設計 │ Yaii Visual')
meta(name='company', content='HiClicks 海克力斯 | 點一下，海外商品輕鬆到～')
meta(name='copyright', content='2018 © HiClicks 海克力斯 | 點一下，海外商品輕鬆到～')
meta(name='creation-date', content='01-jan-2001 20:40:01 GMT+8')
meta(name='distribution', content='global')
meta(name='revisit-after', content='1 days')
meta(name='description', content='海克力斯HiClicks提供最專業日本韓國美國代運服務以及國際代購平台。解決您想買卻買不到的跨國購物問題，相信選擇我們商品集貨代運服務&代購平台會是您最棒的選擇。我們提供目前集運市場中最划算的運費價格;多種加值服務,買越多省越多;擁有熟悉又親切的台灣客服為您服務。')
meta(name='keywords', content='日本代運, 韓國代運, 美國代運, 日本代購, 韓國代購, 美國代購, 海克力斯, 集運, 代購, 代運')
meta(property='og:url', content='https://www.facebook.com/HiclicksOfficial/')
meta(property='og:type', content='website')
meta(property='og:title', content='HiClicks 海克力斯')
meta(property='og:image', content='')
meta(property='og:site_name', content='HiClicks 海克力斯 | 點一下，海外商品輕鬆到～')
meta(property='og:description', content='海克力斯HiClicks提供最專業日本韓國美國代運服務以及國際代購平台。解決您想買卻買不到的跨國購物問題，相信選擇我們商品集貨代運服務&代購平台會是您最棒的選擇。我們提供目前集運市場中最划算的運費價格;多種加值服務,買越多省越多;擁有熟悉又親切的台灣客服為您服務。')
//if lt IE 9
	script(type='text/javascript', src='js/html5shiv.js')
	script(type='text/javascript', src='js/respond.js')
title HiClicks 海克力斯 | 點一下，海外商品輕鬆到～
// 共用的CSS
link(rel='stylesheet', href='css/style.css')

//- script.
//- 	if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ) {
//- 	$('.selectpicker').selectpicker('mobile');
//- 	}
