<!DOCTYPE html>
html(lang="zh-Hant-TW")
	head
		include ../include/_head.jade
	body
		include ../include/_navbar.jade
		include ../include/_navbar_mobile_product_sale.jade
		
		.content
			block header_content
			.container
				.row
					block content
						
		section.jumpbox
			block lightbox
		include ../include/_footer.jade
		//- 這種註解不會出現在原始碼
