<!DOCTYPE html>
html(lang="zh-Hant-TW")
	head
		include ../include/_head.jade
	body
		include ../include/_navbar.jade
		include ../include/_navbar_mobile_product.jade
		
		.content
			.container
				.row
					block breadcrumb
					.col-lg-3.pro_gird.visible-lg
						block sidenav
					.col-xs-12.col-lg-9.pro_gird
						block content

		include ../include/_footer.jade
