<!DOCTYPE html>
html(lang="zh-Hant-TW")
	head
		include ../include/_head.jade
	body
		include ../include/_navbar.jade
		include ../include/_navbar_mobile.jade
		
		.content
			.container
				.row
					block breadcrumb
					.col-xs-12.col-md-9
						block content
					.col-xs-12.col-md-3
						block sidenav
							
		section.jumpbox
			block lightbox
		include ../include/_footer.jade