//- fieldset.star
//- 	input#star5(type='radio', name='rating', value='5')
//- 	label.full(for='star5', title='5')
//- 	input#star4half(type='radio', name='rating', value='4 and a half')
//- 	label.half(for='star4half', title='4.5')
//- 	input#star4(type='radio', name='rating', value='4')
//- 	label.full(for='star4', title='4')
//- 	input#star3half(type='radio', name='rating', value='3 and a half')
//- 	label.half(for='star3half', title='3.5')
//- 	input#star3(type='radio', name='rating', value='3')
//- 	label.full(for='star3', title='3')
//- 	input#star2half(type='radio', name='rating', value='2 and a half')
//- 	label.half(for='star2half', title='2.5')
//- 	input#star2(type='radio', name='rating', value='2')
//- 	label.full(for='star2', title='2')
//- 	input#star1half(type='radio', name='rating', value='1 and a half')
//- 	label.half(for='star1half', title='1.5')
//- 	input#star1(type='radio', name='rating', value='1')
//- 	label.full(for='star1', title='1')
//- 	input#starhalf(type='radio', name='rating', value='half')
//- 	label.half(for='starhalf', title='0.5')

.star {
    border: none;
    float: left;
    >input {
        display: none;
    }
    >label {
        color: #ddd;
        float: right;
        margin-bottom: 0;
        font-weight: normal;
        line-height: 100%;
        &:before {
            content: "\f005";
            font-size: $font-size;
            @extend %icons-f;
        }
    }
    >.half {
        &:before {
            content: "\f089";
            position: absolute;
        }
    }
    >input:checked~label {
        color: $yellow;
    }
    &:not(:checked) {
        >label:hover {
            color: $yellow;
        }
        >label:hover~label {
            color: $yellow;
        }
    }
    >input:checked+label:hover {
        color: $yellow;
    }
    >input:checked~label:hover {
        color: $yellow;
    }
    >label:hover~input:checked~label {
        color: $yellow;
    }
    >input:checked~label:hover~label {
        color: $yellow;
    }
}