extend layout/_layout_side_r.jade

mixin search(url,img,name)
	li
		.search_data
			a.searchimg(href=url)
				.imgbox(style=img)
			.search_datainfo
				h3
					a(href=url)=name
				block

block breadcrumb
	.col-xs-12
		ol.breadcrumb.text-right
			li
				a(href='index.html') HiClicks
			li.active 搜尋列表

block sidenav
	include include/_blog_sidebar.jade

block content
	h2(style='display:none;') HiClicks 搜尋列表
	.sidebox.blogs.mb30.hidden-md.hidden-lg
		.side_title
			h4.blog_newstit 活動公告
		hr
		.side_content
			ul.blog_news
				+side_news('#','【搬遷公告】美國倉庫搬遷更新地址！大升級！')
				+side_news('#','【搬遷公告】美國倉庫搬遷更新地址！大升級！')
				+side_news('#','【搬遷公告】美國倉庫搬遷更新地址！大升級！')
			p.text-right
				span.btn_more.mb10
						a(href="javascript:;") more 
							i.fa.fa-angle-double-right(aria-hidden='true')
	ul.searchlist
		+search('nav_product_saler.html','background-image: url(images/sale_photo.jpg);','企鵝代購網')
			ul.blog_media
					li 
						.store_star.yellow
							span.icon_star
								i(class="fa fa-star",aria-hidden="true")
							span.icon_star
								i(class="fa fa-star",aria-hidden="true")
							span.icon_star
								i(class="fa fa-star",aria-hidden="true")
							span.icon_star
								i(class="fa fa-star",aria-hidden="true")
							span.icon_star
								i(class="fa fa-star-o",aria-hidden="true")
					li
						#fb-root
						.fb-share-button(data-href='https://www.hiclicks.com.tw/', data-layout='button_count', data-size='small', data-mobile-iframe='true')
							a.fb-xfbml-parse-ignore(target='_blank', href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.hiclicks.com.tw%2F&src=sdkpreparse') 分享
					li 
						button.btn.btn_store(type='button') + 收藏賣家
			.searchlist_info.textedit
				p 賣家簡介的文字，就是關於我的文字
			p.search_bbtn
				span.btn_more
					a(href="nav_product_saler.html") more 
						i.fa.fa-angle-double-right(aria-hidden='true')
		+search('nav_product_saler.html','background-image: url(images/saler_smaple.jpg);','17瘋團購')
			ul.blog_media
					li 
						.store_star.yellow
							span.icon_star
								i(class="fa fa-star",aria-hidden="true")
							span.icon_star
								i(class="fa fa-star",aria-hidden="true")
							span.icon_star
								i(class="fa fa-star",aria-hidden="true")
							span.icon_star
								i(class="fa fa-star",aria-hidden="true")
							span.icon_star
								i(class="fa fa-star-o",aria-hidden="true")
					li
						#fb-root
						.fb-share-button(data-href='https://www.hiclicks.com.tw/', data-layout='button_count', data-size='small', data-mobile-iframe='true')
							a.fb-xfbml-parse-ignore(target='_blank', href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.hiclicks.com.tw%2F&src=sdkpreparse') 分享
					li 
						button.btn.btn_store(type='button') + 收藏賣家
			.searchlist_info.textedit
				p 賣家簡介的文字，就是關於我的文字
			p.search_bbtn
				span.btn_more
					a(href="nav_product_saler.html") more 
						i.fa.fa-angle-double-right(aria-hidden='true')
		+search('nav_product_saler.html','background-image: url(images/buyer_photo.jpg);','噹噹代購小叮噹')
			ul.blog_media
					li 
						.store_star.yellow
							span.icon_star
								i(class="fa fa-star",aria-hidden="true")
							span.icon_star
								i(class="fa fa-star",aria-hidden="true")
							span.icon_star
								i(class="fa fa-star",aria-hidden="true")
							span.icon_star
								i(class="fa fa-star",aria-hidden="true")
							span.icon_star
								i(class="fa fa-star-o",aria-hidden="true")
					li
						#fb-root
						.fb-share-button(data-href='https://www.hiclicks.com.tw/', data-layout='button_count', data-size='small', data-mobile-iframe='true')
							a.fb-xfbml-parse-ignore(target='_blank', href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.hiclicks.com.tw%2F&src=sdkpreparse') 分享
					li 
						button.btn.btn_store(type='button') + 收藏賣家
			.searchlist_info.textedit
				p 賣家簡介的文字，就是關於我的文字
			p.search_bbtn
				span.btn_more
					a(href="nav_product_saler.html") more 
						i.fa.fa-angle-double-right(aria-hidden='true')
		+search('nav_product_saler.html','background-image: url(images/buyer_photo.jpg);','噹噹代購小叮噹')
			ul.blog_media
					li 
						.store_star.yellow
							span.icon_star
								i(class="fa fa-star",aria-hidden="true")
							span.icon_star
								i(class="fa fa-star",aria-hidden="true")
							span.icon_star
								i(class="fa fa-star",aria-hidden="true")
							span.icon_star
								i(class="fa fa-star",aria-hidden="true")
							span.icon_star
								i(class="fa fa-star-o",aria-hidden="true")
					li
						#fb-root
						.fb-share-button(data-href='https://www.hiclicks.com.tw/', data-layout='button_count', data-size='small', data-mobile-iframe='true')
							a.fb-xfbml-parse-ignore(target='_blank', href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.hiclicks.com.tw%2F&src=sdkpreparse') 分享
					li 
						button.btn.btn_store(type='button') + 收藏賣家
			.searchlist_info.textedit
				p 賣家簡介的文字，就是關於我的文字
			p.search_bbtn
				span.btn_more
					a(href="nav_product_saler.html") more 
						i.fa.fa-angle-double-right(aria-hidden='true')
		+search('nav_product_saler.html','background-image: url(images/buyer_photo.jpg);','噹噹代購小叮噹')
			ul.blog_media
					li 
						.store_star.yellow
							span.icon_star
								i(class="fa fa-star",aria-hidden="true")
							span.icon_star
								i(class="fa fa-star",aria-hidden="true")
							span.icon_star
								i(class="fa fa-star",aria-hidden="true")
							span.icon_star
								i(class="fa fa-star",aria-hidden="true")
							span.icon_star
								i(class="fa fa-star-o",aria-hidden="true")
					li
						#fb-root
						.fb-share-button(data-href='https://www.hiclicks.com.tw/', data-layout='button_count', data-size='small', data-mobile-iframe='true')
							a.fb-xfbml-parse-ignore(target='_blank', href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.hiclicks.com.tw%2F&src=sdkpreparse') 分享
					li 
						button.btn.btn_store(type='button') + 收藏賣家
			.searchlist_info.textedit
				p 
			p.search_bbtn
				span.btn_more
					a(href="nav_product_saler.html") more 
						i.fa.fa-angle-double-right(aria-hidden='true')
		+search('nav_product_saler.html','background-image: url(images/buyer_photo.jpg);','噹噹代購小叮噹')
			ul.blog_media
					li 
						.store_star.yellow
							span.icon_star
								i(class="fa fa-star",aria-hidden="true")
							span.icon_star
								i(class="fa fa-star",aria-hidden="true")
							span.icon_star
								i(class="fa fa-star",aria-hidden="true")
							span.icon_star
								i(class="fa fa-star",aria-hidden="true")
							span.icon_star
								i(class="fa fa-star-o",aria-hidden="true")
					li
						#fb-root
						.fb-share-button(data-href='https://www.hiclicks.com.tw/', data-layout='button_count', data-size='small', data-mobile-iframe='true')
							a.fb-xfbml-parse-ignore(target='_blank', href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.hiclicks.com.tw%2F&src=sdkpreparse') 分享
					li 
						button.btn.btn_store(type='button') + 收藏賣家
			.searchlist_info.textedit
				p 賣家簡介的文字，就是關於我的文字
			p.search_bbtn
				span.btn_more
					a(href="nav_product_saler.html") more 
						i.fa.fa-angle-double-right(aria-hidden='true')
		+search('nav_product_saler.html','background-image: url(images/buyer_photo.jpg);','噹噹代購小叮噹')
			ul.blog_media
					li 
						.store_star.yellow
							span.icon_star
								i(class="fa fa-star",aria-hidden="true")
							span.icon_star
								i(class="fa fa-star",aria-hidden="true")
							span.icon_star
								i(class="fa fa-star",aria-hidden="true")
							span.icon_star
								i(class="fa fa-star",aria-hidden="true")
							span.icon_star
								i(class="fa fa-star-o",aria-hidden="true")
					li
						#fb-root
						.fb-share-button(data-href='https://www.hiclicks.com.tw/', data-layout='button_count', data-size='small', data-mobile-iframe='true')
							a.fb-xfbml-parse-ignore(target='_blank', href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.hiclicks.com.tw%2F&src=sdkpreparse') 分享
					li 
						button.btn.btn_store(type='button') + 收藏賣家
			.searchlist_info.textedit
				p 賣家簡介的文字，就是關於我的文字
			p.search_bbtn
				span.btn_more
					a(href="nav_product_saler.html") more 
						i.fa.fa-angle-double-right(aria-hidden='true')
		+search('nav_product_saler.html','background-image: url(images/buyer_photo.jpg);','噹噹代購小叮噹')
			ul.blog_media
					li 
						.store_star.yellow
							span.icon_star
								i(class="fa fa-star",aria-hidden="true")
							span.icon_star
								i(class="fa fa-star",aria-hidden="true")
							span.icon_star
								i(class="fa fa-star",aria-hidden="true")
							span.icon_star
								i(class="fa fa-star",aria-hidden="true")
							span.icon_star
								i(class="fa fa-star-o",aria-hidden="true")
					li
						#fb-root
						.fb-share-button(data-href='https://www.hiclicks.com.tw/', data-layout='button_count', data-size='small', data-mobile-iframe='true')
							a.fb-xfbml-parse-ignore(target='_blank', href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.hiclicks.com.tw%2F&src=sdkpreparse') 分享
					li 
						button.btn.btn_store(type='button') + 收藏賣家
			.searchlist_info.textedit
				p 賣家簡介的文字，就是關於我的文字
			p.search_bbtn
				span.btn_more
					a(href="nav_product_saler.html") more 
						i.fa.fa-angle-double-right(aria-hidden='true')
		+search('nav_product_saler.html','background-image: url(images/buyer_photo.jpg);','噹噹代購小叮噹')
			ul.blog_media
					li 
						.store_star.yellow
							span.icon_star
								i(class="fa fa-star",aria-hidden="true")
							span.icon_star
								i(class="fa fa-star",aria-hidden="true")
							span.icon_star
								i(class="fa fa-star",aria-hidden="true")
							span.icon_star
								i(class="fa fa-star",aria-hidden="true")
							span.icon_star
								i(class="fa fa-star-o",aria-hidden="true")
					li
						#fb-root
						.fb-share-button(data-href='https://www.hiclicks.com.tw/', data-layout='button_count', data-size='small', data-mobile-iframe='true')
							a.fb-xfbml-parse-ignore(target='_blank', href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.hiclicks.com.tw%2F&src=sdkpreparse') 分享
					li 
						button.btn.btn_store(type='button') + 收藏賣家
			.searchlist_info.textedit
				p 賣家簡介的文字，就是關於我的文字
			p.search_bbtn
				span.btn_more
					a(href="nav_product_saler.html") more 
						i.fa.fa-angle-double-right(aria-hidden='true')

	ul.pagebox
		li(class="arrow")
			i.fa.fa-angle-double-left(aria-hidden='true')
		li(class="arrow")
			i.fa.fa-angle-left(aria-hidden='true')
		li.on
			a(href='javascript:;') 1
		li
			a(href='javascript:;') 2
		li
			a(href='javascript:;') 3
		li
			a(href='javascript:;') 4
		li
			a(href='javascript:;') 5
		li(class="arrow")
			i.fa.fa-angle-right(aria-hidden='true')
		li(class="arrow")
			i.fa.fa-angle-double-right(aria-hidden='true')