extend layout/_layout_side_l.jade

block breadcrumb
	.col-xs-12
		ol.breadcrumb.text-right
			li
				a(href='index.html') HiClicks
			li
				a(href='javascript:;') 會員專區
			li
				a(href='javascript:;') 代運地址
			li.active 日本代運地址

block sidenav
	include include/_mem_sidebar.jade

block content
	h2(style='display:none;') HiClicks 會員專區
	.trans_content
		.trans_titlebar
			h1 日本代運地址
		hr
		.members_content
			h3.nopoint_title 您的日本轉運倉庫地址
			p.red 您尚未上傳身分證與委託書，請您務必上傳通過驗證才可使用HiClicks代運的服務。
			h5.mt20.mb10 運送地址請填寫下方住址：
			.adds_box
				ul.list-unstyled
					li 運送地址：東京都千代田区岩本町2-19-9 MARUEI BLDG 8階 HCLS09038117
					li 郵遞區號：101-0032
					li 電　　話：03-5833-8802
			hr
			h3.nopoint_title 日本網站收件地址填寫對照表 (僅供參考)
			p.mi.red.mb10.visible-xs 表格可以左右滑動對照資料
			.textedit
				//-這裡是文字編輯器的區塊
				.table-responsive
					table.table.table-bordered.table-condensed.adds_table
						tr
							th 郵遞區號
							td 郵便番号
							td 101-0032
						tr
							th 姓名
							td 氏名
							td 您的漢文姓名 HCLS09038117
						tr
							th 城市
							td 都道府県
							td 東京都
						tr
							th 片假名
							td カナ
							td 您姓名的片假名
								br
								a.red(href="http://www.ltool.net/chinese_simplified_and_traditional_characters_pinyin_to_katakana_converter_in_traditional_chinese.php",target="_blank")
									i.fa.fa-caret-right
									| 中文轉換片假名
									i.fa.fa-external-link
						tr
							th 地址
							td 市区町村
							td 千代田区岩本町2-19-9 MARUEI BLDG 8階
						tr
							th 電子信箱
							td メールアドレス
							td 您的電子郵件信箱
						tr
							th 會員編號
							td 番地
							td HCLS09038117
						tr
							th 電話號碼
							td 電話番号
							td 03-5833-8802
			hr
			h3.nopoint_title 常用日本網站地址填寫範例
			.store_tabs
				//-Nav tabs
				ul.nav.nav-tabs.nav-justified(role='tablist')
					li.active(role='presentation')
						a(href='#addstext01', aria-controls='addstext01', role='tab', data-toggle='tab') 日本亞馬遜地址填寫範例
					li(role='presentation')
						a(href='#addstext02', aria-controls='addstext02', role='tab', data-toggle='tab') 日本樂天地址填寫範例
				//-Tab panes
				.tab-content
					#addstext01.tab-pane.active(role='tabpanel') 
						img.img-responsive(src='images/members/text_jp01.jpeg',alt='')
					#addstext02.tab-pane(role='tabpanel')
						img.img-responsive(src='images/members/text_jp02.jpeg',alt='')