extend layout/_layout.jade

block header_content
	.container
		.row
			.col-xs-12
				ol.breadcrumb.text-right
					li
						a(href='index.html') HiClicks
					li.active 服務使用條款
block content
	.col-xs-12.col-lg-10.col-lg-offset-1
		.newstitlebar
			h1 服務使用條款
		hr
		ol.stage.chinese
			li
				h3.stage_tit 認知與接受條款
				p 為了能使用本服務，您同意以下事項：
				ul.sec_stage
					li 海克力斯有限公司（以下簡稱本公司）依據本服務條款提供HiClicks（http://www.hiclicks.com.tw/）電子商務服務(以下簡稱本服務)。
					li 當您成功註冊會員，並使用本服務時，即表示您已閱讀、了解並同意遵守此服務條款。
					li 請您詳細閱讀本約定書內容，並隨時注意網站上修改或變更，本公司保有隨時修改此服務條款的權利。當您於服務條款修改後繼續使用本服務，即表示您已閱讀、了解並同意遵守新修訂的服務條款。如您不同意修訂的服務條款者，請立即停止使用本服務。
					li 若您未滿20歲，將不得註冊成為本站會員。
					li 您在做出任何相關決定前，如有任何疑問，建議應先諮詢本站之專業客服人員，以便就您的個別情況提出建議，但本站客服人員之建議僅供您參考，決定後所衍生之相關問題，仍應由您個人負責。
			li
				h3.stage_tit 您的義務
				p 為了能使用本服務，您同意以下事項：
				ul.sec_stage
					li 關於您在本站註冊所提供之相關個人資料資料，均受本站的保護。
					li 您同意本站得就您所提供之基本資料，包括但不限於會員姓名或名稱、身分證字號 或統一編號、聯絡人、申辦資料處理者或代表人之相關資料、通訊資料、付款相關資訊，其他個人資料或會員之入會資料(以下簡稱個人資料)加以蒐集、電腦處理、利用、或為國際傳輸，以對會員提供本服務。
					li 您並同意為提供本服務之目的，本站得將入會資料提供給本公司之合作夥伴、為本站執行工作或提供服務之獨立承包商，或本公司之 關係企業。除此之外，本站未經會員同意前，不得對第三者揭露會員之姓名、地址、電子郵件及其他依法受保護之個人資料。但本站依電腦處理個人資料保護法、洗錢防制法或其他相關法律規定，或配合司法與檢調機關之需要，依法所提供會員資料者不在此限。
			li
				h3.stage_tit 隱私權條款
				ul.sec_stage
					li 依本服務註冊流程之提示，提供您本人正確、最新及完整的資料。
					li 若您提供任何錯誤、不實或不完整的資料，應負擔相關民刑事責任，本公司並有權暫停或終止您的帳號，並拒絕您使用本服務之全部或一部。
					li 維持並更新您個人資料，確保其為正確、最新及完整。
			li
				h3.stage_tit 會員帳號、密碼及安全性
				p 完成本服務的註冊程序之後，您將收到一組密碼及帳號。請注意，您有責任維持密碼及帳號的機密安全並同意以下事項：
				ul.sec_stage
					li 為維護您的自身權益，請勿將帳號及密碼洩露或提供予第三人知悉，或出借或轉讓他人使用。若您發現有帳號或密碼遭人非法使用或有任何異常破壞使用安全之虞時，應立即通知本站。
					li 每次連線完畢，均登出您的帳號，避免有心人士盜用您的帳號使用。
			li
				h3.stage_tit 連結第三人網站之注意事項
				.textedit
					p HiClicks旨在提供使用者便利的代運服務，同時提供其他業者經營之網站的串連。惟該等業者網站均與本站間無任何關係，其他業者所經營的網站係由各該業者自行負責，非屬於本站負責範圍內。如您決定進入第三人網站，需自行承擔一切風險。
					p 您若因此與其他業者經營之網站進行交易，各該買賣或其他合約均僅存在您與各該業者之間。您應要求各該業者就其商品之品質、內容、保證事項與瑕疵擔保責任等事先詳細闡釋說明。若您因前述買賣或其他交易行為所產生之爭執，應向各該業者尋求解決。HiClicks聲明絕不介入您與廠商或個人間的任何買賣或其他交易行為，對於您所購買的商品亦不負任何擔保責任。
			li
				h3.stage_tit 著作權聲明
				.textedit
					p HiClicks網站上所刊登的內容，包括但不限於著作、圖片、檔案、資訊、資料、網站架構、網站畫面安排及網頁設計等，均由本站或其他權利人依法擁有其智慧財產權，包括但不限於商標權、專利權、著作權、營業秘密及專有技術等(以下簡稱資訊)，均屬HiClicks製作或由該廣告商或產品供應商提供，並受國內法律、條例及其他著作權法律保護。在非營利目的或商業使用行為下，您可瀏覽、列印、儲存本網站所提供的資訊，但連結到本網站不代表HiClicks將智慧財產權授權給您。HiClicks保留本網站所公布資訊的所有權利。
			li
				h3.stage_tit 使用者的守法義務及承諾
				.textedit
					p 您承諾絕不為任何非法目的或以任何非法方式使用本服務，並承諾遵守中華民國相關法規及一切使用網際網路之國際慣例。若您為中華民國以外之使用者，則視為同意遵守所屬國家或地域之法令。您同意並保證不得利用本服務從事侵害他人權益或違法之行為。
			li
				h3.stage_tit 會員的賠償責任
				.textedit
					p 因您違反相關法令或違背本約定書之任一條款者，以致本站或其關係企業、受僱人、受託人、代理人及其他相關履行輔助人因此而受有損害或支出費用（包括且不限於因進行民、刑事及行政程序所支出之律師及相關訴訟費用）時，會員應負擔損害賠償責任或填補其費用。
			li
				h3.stage_tit 免責聲明
				.textedit
					p 本公司對網站內容不提供任何擔保，本網站提供之功能不保證一定能滿足會員的特定要求。
					p 本公司對任何直接、間接、偶然或特殊及連帶的損失不負任何責任，這些損失可能來自於不正當、非法地使用本系統或遭受駭客攻擊。對於因政府禁令、現行生效的適用法律或法規的變更、動亂、戰爭、停電、通訊線路中斷等不可抗力事由、他人蓄意破壞，而造成的服務中斷，一切損失不負擔任何責任。
			li
				h3.stage_tit 貨物運輸之責任
				.textedit
					p 本公司僅提供安排代運之服務，如代運之物品有所毀損、滅失，應由實際承運人，依其提單條款、標準貿易條款之規定負擔責任。
			li
				h3.stage_tit 服務條款變更
				.textedit
					p 本公司保有變更本服務內容與解釋本服務條款的權利。
			li
				h3.stage_tit 準據法與管轄法院本服務及條款約定內容，一旦發生爭議，依中華民國法律為處理準據法，並以臺灣台北地方法院為第一審管轄法院。