extend layout/_layout.jade

block header_content
	.container
		.row
			.col-xs-12
				ol.breadcrumb.text-right
					li
						a(href='index.html') HiClicks
					li.active 託運條款
block content
	.col-xs-12.col-lg-10.col-lg-offset-1
		.newstitlebar
			h1 託運條款
		hr
		.textedit
			h2(style='display:none;') HiClicks 託運條款
			p 海克力斯有限公司HiClicks（以下簡稱甲方）茲受會員（以下簡稱乙方）委託，從海外運送本委託單所列之物品回臺灣，雙方同意遵循下列條款：
		ol.stage.chinese
			li				
				p 乙方應誠實申報託運物品(包括但不限於品名、內容、單價等內容)，如因申報不實所衍生之相關法律責任，概由乙方負完全責任。如因此造成甲方受有損失，應由乙方負擔賠償之責。為了維護運輸安全之需求，必要時乙方並同意甲方開箱查驗受託運送之物品。
			li
				p 禁止託運貨物例示名單如下，詳細說明可參本公司網站公布之禁運用品名單，本公司保留解釋及隨時修改禁止託運貨物名單之權利。
				ul.sec_stage
					li 爆炸性、殺傷性、氧化性、易燃性、腐蝕性、毒性、酸性及放射性等之危險物品。
					li 毒品及吸毒器具。
					li 妨害風俗文化之圖書、照片、雕刻品及器具。
					li 妨害商標著作權之物品。
					li 貨幣、金銀、珠寶、有價證券、信用卡及票券。
					li 易腐爛之物品。
					li 活的動物、植物。
					li 藝術品
					li 其他出口地禁止出口或中華民國法令限制進口之物品，如有疑慮以出口地及中華民國海關之規定為主。
			li				
				p 甲方收到乙方委託單時將進行初步審核，為遵守國內外運送法規及維護服務品質，甲方保留是否受理委託之權利。
			li				
				p 若託運物之單價超過新台幣三萬元時，乙方應事先告知甲方，並應自行投保貨物保險，貨物保險之保險費用由乙方自行承擔。
			li				
				p 甲方受託代辦之運送服務為國際海運或空運，為維護運送物之安全，乙方就其所託運之物品應自行要求供貨商妥善包裝，以避免於運送過程中發生毀損、滅失及其他損害。因貨物包裝不固所導致之毀損、滅失，應由乙方自行承擔貨損相關責任。
			li				
				p 乙方接獲甲方之到貨通知後，應於7個工作日內填妥委託書並完成付款。乙方接獲到貨通知後，如逾14日仍未填寫委託書、未付款或未指示其他處理方式者，乙方同意甲方得逕行銷毀或處置貨物。因此所生包含但不限於逾期倉儲、銷毀貨品之相關費用，應由乙方支付之。
			li
				p 賠償規定
				ul.sec_stage
					li 乙方受領託運物品時如發現貨物有異狀，應於託運憑單或簽收單據簽註保留意見，並於開拆貨物時錄影及拍照存證，作為求償之依據。如乙方未簽註保留意見，視為乙方受領之貨物完好無缺，不得提出求償。
					li 若託運物品之毀損、滅失係可歸責於甲方時，甲方所負之賠償責任，按乙方填寫之物品價值或實重每公斤20美元計算，二者取其較低者為賠償標準，又每一運送提單（CWB）最高賠償金額為100美元。
					li 若託運物品係因以下為原因導致毀損、滅失者，甲方免負賠償責任：
						ul
							li 因不可抗力因素（如戰爭、天然災害、交通事故等）發生，非甲方所能控制者。
							li 因出口國或進口國之政府機關之管制措施（如查驗貨、消磁、扣留、沒入等）而致者。
							li 託運物品係屬瑕疪品者（如廢品、送修貨品等）或因託運物品本身性質所導致損失。
							li 其他依法律應予免責之事由。
			li				
				p  乙方使用甲方之本服務時，應提供個案委任書及國民身分證影本（如係外國人則提供身分證明文件影本），俾便甲方代辦進口報關。如乙方不願提供，則本代運契約不成立，甲方不負任何賠償責任。又甲方將依乙方所填委託代運之物品名稱及價值作為進口時的報關依據，如有匿報，乙方應自負法律責任。
			li				
				p 收費標準
				p 費用結購(需再加上營業稅5%):
					br
					|日本到台灣運費 每公斤NTD250；韓國到台灣運費 每公斤NTD180；美國到台灣運費 每公斤NTD320
					br
					|(註:若為拋貨則依材積計算。)
				p 其它服務：如有其它服務需求，如驗貨、特殊需求、或逾時倉儲租金等，費用另計，詳情請閱本網站【收費規則】。 
			li				
				p 乙方提供代運委託單給甲方時，即表示已詳細閱讀、暸解並同意以上條款。 
			li				
				p 本託運條款，如有未盡事宜者，適用中華民國相關法令，並以臺灣台北地方法院為第一審管轄法院。
			li				
				p 服務條款變更
				p 本公司保有變更本服務內容與解釋本服務條款的權利。