extend layout/_layout.jade

block content
	.center-block.page_verify
		h3 感謝您的來信，我們收到信件將盡快回覆您
		img(src="images/tks_smile.png", alt="Hiclicks海克力斯")
		.textedit.mt20
			p HELLO~
			p 這裡是放文字的地方
		ul.list-style.mt20
			li 銀行代號：006
			li 轉帳帳號：5555-5555-8888-8888
			li 轉帳金額：NTD 2,400
			li 繳款期限：2018/12/01 23:59前
	

block lightbox